.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125em;
  font-family: 'Geometria', sans-serif;
  font-weight: bold;
  height: 48px;
  width: 95%;
  min-width: 152px;
  cursor: pointer;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
}

.button-ghost {
  color: #236999;
  border: none;
}

.button-bordered, .button-solid {
  padding: 0 1rem;
}

.button-solid {
  color: #fff;
}

.button-close {
  justify-content: left;
  gap: 1rem;
}

.button-separate {
  justify-content: space-between;
}

.button span {
  padding-top: 4px;
}