.storybook-button {
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
  font-family: 'Geometria', sans-serif;
  padding: 10px;
}